<div class="posts">
	<h1>My Posts</h1>
	<%= link_to "New Post" , new_article_path, class: "new_article" %>
	<ul id=articles>
		<% @articles.each do |article| %>
			<li id = "post-holder">
				<h4 class="head-link"><%= link_to "#{article.title}", article_path(article)%></h4>
				<p><%= simple_format article.body %></p>
				<div class="show-more">
					<%= link_to 'more', article_path(article)%>
				</div>
			</li>
		<% end %>
	</ul>
</div>
